/* This file is for your main application css. */
@import "./phoenix.css";

@import "./commons";
@import "./components";

.card {
  display: flex;
  padding: 24px;
  border-radius: 16px;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #e9eaed;
}

.modules-page {
  &__item {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
}

.projection-card {
  padding: 24px 24px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #e9eaed;

  &__divider {
    height: 1px;
    margin: 16px 0px;
    box-sizing: border-box;
    background-color: #e9eaed;
  }

  &__detail {
    margin-top: 22px;
  }
}

.money-highlight {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  &__label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__amount {
    font-size: 36px;
    color: #30ab70;
    font-weight: 700;
    line-height: 44px;
  }
}

.money-details {
  font-size: 14px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;

  &__label {
    line-height: 18px;
  }

  &__amount {
    line-height: 24px;
    font-weight: 700;
  }
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__chart {
    flex: 1;
    height: 100%;
    margin: 32px 0;
    position: relative;
  }
}

.modules-page {
  &__item {
    margin-top: 12px;

    &:last-child {
      margin-bottom: 12px;
    }
  }
}

.module {
  @extend .card;

  &--locked {
    background-color: #e9eaed;
  }

  &__disclaimer {
    display: none;

    &--visible {
      &.module {
        &__disclaimer {
          display: flex;
          font-size: 12px;
          margin-top: 10px;
          color: #9d9ea1;
          line-height: 11px;
          justify-content: center;
          font-family: "Source Sans Pro", sans-serif;
        }
      }
    }
  }

  &__header {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
  }

  &__description {
    font-size: 18px;
    margin-top: 6px;
    line-height: 23px;
    margin-bottom: 50px;
    font-family: "Source Sans Pro", sans-serif;
  }

  &__button {
    width: 160px;
    text-align: center;
    align-self: center;

    &--locked {
      &.button {
        &:hover {
          background-color: #e9eaed;
        }
      }

      &.module {
        &__button {
          color: #9d9ea1;
          border-color: #9d9ea1;
        }
      }
    }
  }
}

.button {
  font-size: 14px;
  font-weight: 600;
  color: #30ab70;
  line-height: 17px;
  padding: 8px 24px;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #30ab70;
  font-family: "Montserrat", sans-serif;
  transition: background-color 400ms ease-in-out;

  &:hover {
    background-color: rgba(#30ab70, 0.25);
  }
}

.score-minimal {
  &__amount {
    font-size: 18px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  &__label {
    font-size: 10px;
    text-align: right;
    line-height: 10px;
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.challenges-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__highlight {
    flex: 0 0 content;
    margin-bottom: 20px;
  }

  &__section {
    flex: auto;
    overflow: hidden;
    margin-top: 32px;
  }
}

.highlighted-challenge {
  @extend .card;
  
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: "Montserrat", sans-serif;
  }

  &__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Source Sans Pro", sans-serif;

    ul {
      margin: 0;
      padding-left: 32px;
    }

    li {
      line-height: 1;
    }
  }
}

.page-section {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    flex: 0 0 content;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  &__content {
    flex: auto;
    overflow-y: auto;
    margin-top: 16px;
  }
}

.challenge-ranking {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.rank-item {
  @extend .card;
  padding: 16px 24px;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;

  &--highlighted {
    &.rank-item {
      background-color: #e9eaed;

      &__name {
        font-weight: 700;
      }
    }
  }

  &__position {
    font-size: 24px;
    font-weight: 700;
    margin-right: 16px;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    align-self: center;
  }

  &__score {
    font-size: 12px;
    color: #222648;
    font-weight: bold;
    margin-left: auto;
  }
}

.profile-page {
  &__hero {
    margin-top: 24px;
  }

  &__progress {
    margin-top: 36px;
  }
}

.profile-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;

  &__icon {
    i {
      color: #222648;
    }
  }

  &__name {
    font-size: 24px;  
    margin-top: 12px;
    font-weight: 600;
    line-height: 30px;
    
  }

  &__email {
    font-size: 12px;
    margin-top: 4px;
    color: #75777A;
    padding: 4px 24px;
    line-height: 11px;
    border-radius: 16px;
    background-color: #E9EAED;
  }
}

.profile-progress {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    color: #222648;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  &__details {
    margin-top: 12px;
  }
}

.progress-details {
  display: flex;
  flex-direction: column;

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.user-progress {
  display: flex;
  font-size: 16px;  
  justify-content: space-between;

  &__name {
    color: #9D9EA1;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
  }

  &__value {
    text-align: left;
    color: #393B53;
    font-weight: 900;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.savings-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__chart {
    margin-top: 14px;
  }

  &__section {
    margin-top: 14px;
  }
}

.score-savings {
  display: flex;
  line-height: 1;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: #222648;
  }

  &__value {
    font-size: 36px;
    font-weight: 700;
    color: #222648;
  }

  &__convert {
    @extend .button;

    line-height: 1;
    font-size: 11px;
    margin-top: 12px;
    font-weight: 600;
    color: #9D9EA1;
    padding: 4px 12px;
    border-color: #e9eaed;

    &:hover {
      background-color: rgba(#9D9EA1, 0.25);
    }
  }
}

.current-balance {
  display: flex;
  line-height: 1;
  align-self: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: #222648;
  }

  &__value {
    font-size: 22px;
    font-weight: 700;
    color: #222648;
  }
}

.savings-overview {
  @extend .card;
  flex-direction: row;

  &__divider {
    width: 1px;
    box-sizing: border-box;
    background-color: #e9eaed;
  }

  &__section {
    flex: 1;

    &--balance {
      margin-left: 24px;
    }

    &--score {
      margin-right: 24px;
    }
  }
}

.savings-chart {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    color: #222648;
    font-weight: 700;
    align-self: center;
    font-family: "Montserrat", sans-serif;
  }

  &__content {
    margin-top: 8px;
  }
}

.investments-section {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 18px;
    color: #222648;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }

  &__list {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.investments-list {
  display: flex;
  flex-direction: column;

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.investment-purchases {
  display: flex;
  line-height: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  &__label {
    font-size: 11px;
    font-weight: 500;
    color: #222648;
    margin-bottom: 4px;
  }

  &__value {
    font-size: 24px;
    font-weight: 700;
    color: #222648;
    margin-bottom: 8px;
  }

  &__button {
    @extend .button;

    line-height: 1;
    font-size: 11px;
    font-weight: 600;
    color: #9D9EA1;
    padding: 4px 16px;
    border-color: #e9eaed;

    &:hover {
      background-color: rgba(#9D9EA1, 0.25);
    }
  }
}

.investment-details {
  display: flex;
  flex-direction: column;

  &__name {
    font-size: 14px;
    font-weight: 700;
    color: #222648;
    font-family: "Montserrat", sans-serif;
  }

  &__price {
    margin-top: 4px;
  }
}

.investment-price {
  display: flex;
  font-size: 14px;

  &__label {
    color: #9D9EA1;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
  }

  &__value {
    margin-left: 8px;
    color: #393B53;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}

.investment-prize {
  display: flex;
  flex-direction: column;

  &__value {
    font-size: 18px;
    font-weight: 700;
    color: #222648;
    font-family: "Montserrat", sans-serif;
  }

  &__type {
    font-size: 10px;
    font-weight: 500;
    color: #222648;
    align-self: flex-end;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.investment {
  @extend .card;

  padding: 24px 16px;
  flex-direction: row;

  &__purchases {
    margin-right: 12px;
  }

  &__divider {
    width: 1px;
    box-sizing: border-box;
    background-color: #e9eaed;
  }

  &__content {
    flex: 1;
    display: flex;
    margin-left: 12px;
    justify-content: space-between;
  }

  &__prize {
    margin-left: 24px;
    align-self: center;
  }
}

.module-actions {
  display: flex;

  &__item {
    @extend .button;

    a {
      text-decoration: none;

      &:visited {
        color: #30ab70;
      }
    }

    &--next {
      &.module-actions {
        &__item {
          order: 1;
        }
      }
    }

    &--back {
      &.module-actions {
        &__item {
          border-color: #e9eaed;

          a {
            color: #9D9EA1;
          }
        }
      }
    }
  }
}

.module-page {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  &__content {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    color: #222648;
    line-height: 1.5em;
    overflow-y: scroll;
    font-family: "Source Sans Pro", sans-serif;
  }

  &__actions {
    flex: 0;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: space-evenly;
  }
}